@model IEnumerable<XamarinMVC.Models.Brand>

<div class="slider">
    <h2 class="text-center">@XamarinMVC.App_GlobalResources.Texts.ProductTypes</h2>
    <div class="small2">
        <ul class="small-ul list-unstyled" data-small2="">
            @{
                foreach (var item in Model)
                {
                    <li><img src="~/Images/Brand/@item.Image" width="200" height="150" alt="" /></li>
                }
            }
        </ul>
        <span class="small-span hidden-sm hidden-xs"><i class="fa fa-arrow-circle-right fa-3x"></i></span>
        <span class="small-span hidden-sm hidden-xs"><i class="fa fa-arrow-circle-left fa-3x"></i></span>

    </div>
</div>