@model IEnumerable<XamarinMVC.Models.Gallery>
@{
    int counter = 1;
}

<div class="container col-lg-12 col-md-12 col-sm-12">

    @foreach (var item in Model)
    {
        <div class="mySlides">
            <img src="~/Images/Gallery/@item.Image" alt="" style="width: 80%" />
        </div>
    }

    <div>
        @foreach (var item in Model)
        {
            <div class="column">
                <img src="~/Images/Gallery/@item.Image" class="demo curser" onclick="currentSlides(@counter)" alt="" style="width: 100%" />
            </div>

            counter += 1;
        }
    </div>

</div>
