
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@Html.Action("Slider","Home")

<div class="clearfix"></div>

<div class="slider">
    <h2 class="text-center">@XamarinMVC.App_GlobalResources.Texts.ProductTypes</h2>
    <div class="small2">
        <ul class="small-ul list-unstyled" data-small2="">
            <li><img src="~/Images/Brand/181288-3.jpg" width="200" height="150" alt="" /></li>
            <li><img src="~/Images/Brand/527008-2.jpg" width="200" height="150" alt="" /></li>
            <li><img src="~/Images/Brand/810929-1.jpg" width="200" height="150" alt="" /></li>
        </ul>
        <span class="small-span hidden-sm hidden-xs"><i class="fa fa-arrow-circle-right fa-3x"></i></span>
        <span class="small-span hidden-sm hidden-xs"><i class="fa fa-arrow-circle-left fa-3x"></i></span>

    </div>
</div>