@model IEnumerable<XamarinMVC.Models.Product>
@{

    string dir = null;
    switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
    {
        case "en-US":
            dir = "rtl";
            break;
        case "fa-IR":
            dir = "ltr";
            break;
        default:
            dir = "ltr";
            break;
    }


}
<div>
    <h2 class="text-center">@XamarinMVC.App_GlobalResources.Captions.LastProduct</h2>
    @foreach (var item in Model)
    {
    <div style="width:200px; height:200px;" class="container-img col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="/product/@item.Id/@item.Name.Replace(" ","-").Trim()" target="_blank"><img src="~/Images/Product/@item.Image" alt="@item.Image" class="image" /></a>
        @if (dir == "rtl")
        {
    <div class="overlay">@item.NameEN</div>
        }
        else
        {
    <div class="overlay">@item.NameFA</div>
        }


        
    </div>
    }
</div>