@using (Html.BeginForm("Language", "Account", new { area = "" }, FormMethod.Post))
{
<div class="form-inline">
    <input type="submit" style="background-image:url(../../../../Images/Site/en.png)" value="en-US" name="btn1" >
    <input type="submit" style="background-image:url(../../../../Images/Site/fa.png)" value="fa-IR" name="btn1" />
</div>
}